@using SimpleApp.Models
@model IEnumerable<Product>
 <ul>
        @foreach (Product p in Model ?? Enumerable.Empty<Product>()) {
            <li>Name: @p.Name, Price: @p.Price</li>
        }
    </ul>
